body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(143, 144, 144);
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0px;
}
body::-webkit-scrollbar {
  display: none;
}

.main{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


.top {
  width: 100vw;
  height: 10vh;
  border-bottom: 1px solid gray;
  margin: 10px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}
.sidebar {
  height: 90vh;
  width: 25vw;
  background-color: rgb(202, 202, 202);
  border-radius: 20px;
  margin: auto 0;
  padding: 12px;
  display: flex;
  display: inline-block;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
hr {
  color: black;
  width: 90%;
}
h4 {
  margin: 0px;
  font-size: 30px;
  text-align: center;
}
.sidebar input {
  color: rgb(54, 63, 63);
  border-radius: 10px;
  text-align: center;
  margin: 10px 0;
}
.tasks {
  font-family: "Merriweather", serif;
  color: rgb(2, 9, 95);
  margin: 2px;
  cursor:default;
}


.remove{
  color: red;
  text-decoration: line-through;
}

.footer {
  margin-top: 10px;
  height: 200px;
  width: 100vw;
  background-color: rgb(53, 52, 52);
  border-radius: 20px 20px 0px 0px;
  border-top: 2px solid black;
}
#taskCount{
  width: auto;
  display: inline-block;
  margin-left: 150px;
  margin-top:2px;
}
.sidebar p{
  margin: 3px;
}

.calender-area{
  display: flex;
  justify-content: center;
  align-items: center;
  /* To bring calender below */
  flex-direction: column;
  /* to give width so that the calender heading can get styled */
  width: 70%;
}

.calender-area h4{
  text-align: center;
}

.calender{
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(202, 202, 202);
  margin: 20px;
  width: 50%;
}
